@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;

  --color-primary-black: #121212;

  --color-secondary-blue: #377dff;
  --color-secondary-green: #38cb89;
  --color-secondary-orange: #ffab00;
  --color-secondary-red: #ff5630;

  --color-neutral-1: #fefefe;
  --color-neutral-2: #f3f5f7;
  --color-neutral-3: #e8ecef;
  --color-neutral-4: #6c7275;
  --color-neutral-5: #343839;
  --color-neutral-6: #232627;
  --color-neutral-7: #141718;

  --shadow-favorite-btn: 0px 8px 16px -8px #0f0f0f1f;
  --shadow-add-to-cart-btn: 0px 8px 16px 0px #00000009;
  --shadow-dropdown: 0px 64px 64px -48px #0f0f0f1a;

  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-menu-open: menu-open 0.3s ease-out;
  --animate-slide-from-left: slide-from-left 0.3s ease-out;
  --animate-slide-from-right: slide-from-right 0.3s ease-out;
  --animate-scale-in-center: scale-in-center 0.3s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-open {
    from {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes scale-in-center {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer base {
  *,
  html,
  body {
    @apply box-border p-0 m-0 font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium font-poppins text-primary-black;
  }

  h1 {
    @apply xl:text-[80px] lg:text-6xl sm:text-5xl text-[40px] xl:leading-[84px] lg:leading-14 leading-11 lg:-tracking-[3px] -tracking-[0.4px];
  }

  h2 {
    @apply text-[40px] leading-[44px] md:leading-[var(--tw-leading,_var(--text-7xl--line-height))] md:text-5xl lg:text-7xl;
  }

  h4 {
    @apply lg:text-[40px] text-[34px] leading-[38px] lg:leading-[44px] text-neutral-7;
  }

  h5 {
    @apply text-[28px] lg:text-[34px];
  }

  h6 {
    @apply text-[28px];
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .wrapper {
    @apply xl:max-w-[1120px] lg:max-w-[960px] md:max-w-[700px] sm:max-w-[580px] xs:max-w-[420px] max-w-[310px] mx-auto;
  }

  .footer-link {
    @apply text-sm transition-colors text-neutral-1 hover:underline;
  }

  .payment-partner {
    @apply flex items-center justify-center w-12 h-8 bg-white rounded;
  }

  .caption-1 {
    @apply text-sm text-neutral-3;
  }

  .caption-2 {
    @apply text-xs text-neutral-3 font-poppins;
  }

  .section-title {
    @apply md:text-[40px] text-[34px] leading-9 md:leading-11 font-medium text-black font-poppins;
  }

  /* swiper custom styles */
  .swiper-pagination {
    @apply absolute z-20 flex items-center justify-center gap-4 -translate-x-1/2 bottom-4 md:bottom-8 left-1/2;
  }

  .swiper-pagination-bullet {
    @apply inline-block transition-all duration-300 rounded-full opacity-100 cursor-pointer bg-neutral-1;
    margin: 0 !important;
  }

  .swiper-pagination-bullet:hover {
    @apply bg-neutral-1;
  }

  .swiper-pagination-bullet-active {
    @apply rounded pointer-events-none bg-neutral-1;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .custom-orange-gradient {
    background: linear-gradient(0deg, #fec75a, #fec75a),
      linear-gradient(180.02deg, #ffc95c 17.32%, rgba(255, 201, 92, 0) 29.19%);
  }

  .primary-btn {
    @apply bg-neutral-7 text-white font-medium text-lg px-4 py-2.5 rounded-md w-full text-center hover:bg-neutral-7/85 transition-colors;
  }
}
