@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1536px;

  --color-primary-black: #121212;
  --color-black-600: #605f5f;
  --color-black-300: #cbcbcb;

  --color-secondary-blue: #377dff;
  --color-secondary-green: #38cb89;
  --color-secondary-orange: #ffab00;
  --color-secondary-red: #ff5630;

  --color-neutral-1: #fefefe;
  --color-neutral-2: #f3f5f7;
  --color-neutral-3: #e8ecef;
  --color-neutral-4: #6c7275;
  --color-neutral-5: #343839;
  --color-neutral-6: #232627;
  --color-neutral-7: #141718;
  --color-neutral-8: #fcfcfd;

  --shadow-favorite-btn: 0px 8px 16px -8px #0f0f0f1f;
  --shadow-add-to-cart-btn: 0px 8px 16px 0px #00000009;
  --shadow-dropdown: 0px 64px 64px -48px #0f0f0f1a;

  --animate-fade-in: fade-in 0.3s ease-out;
  --animate-menu-open: menu-open 0.3s ease-out;
  --animate-slide-from-left: slide-from-left 0.3s ease-out;
  --animate-slide-from-right: slide-from-right 0.3s ease-out;
  --animate-scale-in-center: scale-in-center 0.3s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-open {
    from {
      opacity: 0;
      transform: translateY(-1.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-from-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes scale-in-center {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer base {
  body {
    @apply m-0 box-border p-0 font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-poppins font-medium text-primary-black;
  }

  h1 {
    @apply text-[40px] leading-11 -tracking-[0.4px] sm:text-5xl lg:text-6xl lg:leading-14 lg:-tracking-[3px] xl:text-[80px] xl:leading-[84px];
  }

  h2 {
    @apply text-[40px] leading-[44px] md:text-5xl md:leading-[var(--tw-leading,_var(--text-7xl--line-height))] lg:text-7xl;
  }

  h3 {
    @apply text-[28px] leading-[34px] text-neutral-7 md:text-[34px] lg:text-[54px] lg:leading-[58px];
  }

  h4 {
    @apply text-[34px] leading-[38px] text-neutral-7 lg:text-[40px] lg:leading-[44px];
  }

  h5 {
    @apply text-[28px] lg:text-[34px];
  }

  h6 {
    @apply text-[28px];
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-[310px] xs:max-w-[420px] sm:max-w-[580px] md:max-w-[700px] lg:max-w-[960px] xl:max-w-[1120px];
  }

  .footer-link {
    @apply text-sm text-neutral-1 transition-colors hover:underline;
  }

  .payment-partner {
    @apply flex h-8 w-12 items-center justify-center rounded bg-white;
  }

  .caption-1 {
    @apply text-sm text-neutral-3;
  }

  .caption-2 {
    @apply font-poppins text-xs text-neutral-3;
  }

  .section-title {
    @apply font-poppins text-[34px] leading-9 font-medium text-black md:text-[40px] md:leading-11;
  }

  /* swiper custom styles */
  .swiper-pagination {
    @apply absolute bottom-4 left-1/2 z-20 flex -translate-x-1/2 items-center justify-center gap-4 md:bottom-8;
  }

  .swiper-pagination-bullet {
    @apply inline-block cursor-pointer rounded-full bg-neutral-1 opacity-100 transition-all duration-300;
    margin: 0 !important;
  }

  .swiper-pagination-bullet:hover {
    @apply bg-neutral-1;
  }

  .swiper-pagination-bullet-active {
    @apply pointer-events-none rounded bg-neutral-1;
  }

  .form-validation-error {
    @apply mt-1 font-space-grotesk text-sm text-red-400;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .custom-orange-gradient {
    background:
      linear-gradient(0deg, #fec75a, #fec75a),
      linear-gradient(180.02deg, #ffc95c 17.32%, rgba(255, 201, 92, 0) 29.19%);
  }

  .primary-btn {
    @apply rounded-md bg-neutral-7 px-4 py-2.5 text-center text-base font-medium text-white transition-colors hover:bg-gray-800 disabled:cursor-not-allowed disabled:bg-neutral-7 disabled:opacity-80;
  }

  .input-secondary {
    @apply w-full rounded-md border border-black-300 px-4 py-[7px] text-[#6C7275];
  }
}
